/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  font-family: "Roboto Slab", sans-serif, Helvetica, Arial;
}
body {
  padding-top: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
}

h1 {
  font-size: 2.3686111111em; /* 42.635 / 18 = 2.3686111111 */
  font-family: Pacifico, sans-serif, Helvetica, Arial;
  line-height: 1.0320159493em; /* 44 / 42.635 = 1.0320159493 */
  padding-bottom: 0.5160079747em; /* 22 / 42.635 = 0.5160079747 */
}
h2 {
  font-size: 1.7768888889em; /* 31.984 / 18 = 1.7768888889 */
  font-family: Pacifico, sans-serif, Helvetica, Arial;
  line-height: 1.3756878439em; /* 44 / 31.984 = 1.3756878439 */
  padding-bottom: 0.687843922em; /* 22 / 31.984 = 0.687843922 */
}
h3 {
  font-size: 1.333em; /* 23.994 / 18 = 1.333 */
  line-height: 1.375343836em; /* 33 / 23.994 = 1.375343836 */
  padding-bottom: 0.4584479453em; /* 11 / 23.994 = 0.4584479453 */
  font-family: "Bree Serif";
}

a {
  text-decoration: none;
  color: grey;
}
p {
  padding-bottom: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  line-height: 1.8333333333em; /* 33 / 18 = 1.8333333333 */
  font-family: Bitter;
}
li {
  list-style-type: none;
  line-height: 1.8333333333em; /* 33 / 18 = 1.8333333333 */
  padding-bottom: 0.3055555556em; /* 5.5 / 18 = 0.6111111111 */
}
li img {
  padding-top: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}
video {
  display: block;
  max-width: 100%;
  align-items: center;
}
figcaption {
  font-size: 0.7501666667em; /* 13.503 / 18 = 0.7501666667 */
  line-height: 1.6292675702em; /* 22 / 13.503 = 1.6292675702 */
  padding-top: 0.8146337851em; /* 11 / 13.503 = 0.8146337851 */
  padding-bottom: 0.8146337851em; /* 11 / 13.503 = 0.8146337851 */
  text-align: center;
}

#navigation li {
  float: left;
  text-align: center;
  width: 25%;
}
#navigation a {
  display: block;
  color: black;
  width: 100%;
  padding-top: 0.3055555556em; /* 5.5 / 18 = 0.3055555556 */
  padding-bottom: 0.3055555556em; /* 5.5 / 18 = 0.3055555556 */
  text-align: center;
  text-decoration: none;
}
#navigation a:hover {
  background-color: #def4f1;
}

@media screen and (min-width: 320px) {
  img {
    max-width: 100%;
  }
}
/*
@media screen and (min-width: 640px) {

}
*/
@media screen and (min-width: 860px) {
  .container {
    display: flex;
  }
  .left, .right {
    width: 50%;
  }
  .left {
    padding-right: 5%;
  }

}
